#useDynLib(pbdDMAT)

import(methods, rlecuyer, pbdMPI, pbdSLAP, pbdBASE)

# All internal functions
exportPattern("^dmat\\.[[:alpha:]]+")

exportMethods(
  "median", "apply", "scale", "sweep",
  "qr", "qr.Q", "qr.R", "qr.qty", "qr.qy",
  "rcond", "norm",
  "lm.fit", "diag", "crossprod", "tcrossprod", "lu",
  "as.matrix", "as.vector", "as.ddmatrix", "ddmatrix",
  "submatrix", "submatrix<-",
  "[", "[<-", "na.exclude",
  "nrow", "ncol", "dim", "ldim", "bldim", "ictxt", "submatrix",
  "any", "all",
  "summary",
  "rbind", "cbind",
  "print",
  "cov", "cor", "cov2cor"
)

export(
  # Arithmetic
  "+", "-", "*", "/", "^", "%%", "%/%", 
  # Algebra
  t, "%*%", crossprod, tcrossprod,
  solve, La.svd, svd, lu, chol, kappa.ddmatrix,
  # Math
  abs, sqrt, log, log2, log10, log1p, round, ceiling, floor,
  # Principal Components
  scale, prcomp, diag,
  # Covariance
  var, cov, sd, cor, cov2cor,
  scale, sweep,
  # Reductions
  sum, mean, prod, rowSums, colSums, rowMeans, colMeans,
  # Misc
  as.matrix,
  ddmatrix, as.ddmatrix, is.ddmatrix, 
  is.na, is.nan, is.infinite, is.numeric,
  head.ddmatrix, tail.ddmatrix,
  "[", "[<-",
  distribute, redistribute
)



